@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html{
	height: 100%;
	}

body{
	height: 95%;
	background: #6190E8;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
.HorizontalAlign{
	display: table;
	height: 100%;
	margin:0 auto;	
	}

.VerticalAlign{
	display: table-cell;
	vertical-align: middle;
	}

.XboxLogo{
	width: 100%;
	}
	
h1{
	font-family: 'Inter', sans-serif;
	color: white;
	font-size: 50px;
	}